html {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: rgb(202, 202, 202);
}

section {
    max-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 30px;
}
.no-animation *{
    transition: none !important;
    background: white !important;
}

.mesa {
    background: rgb(119, 33, 33);
    max-width: 95%;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.carta {
    perspective: 1000px;
    height: 200px;
    width: 150px;
}

.frente,.verso{
    border-radius: 10px;
    border: solid 2px white;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease-in-out 500ms;
}
.frente{
    background: black;
}
.verso{
    transform: rotateY(180deg);
}
.carta:hover .frente{
    transform: rotateY(180deg);
}
.carta:hover .verso{
    transform: rotateY(0deg);
}