:root{
    --fundo-mesa:url("https://images.pexels.com/photos/172276/pexels-photo-172276.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    --fundo-carta: url("https://scontent.fpoa10-1.fna.fbcdn.net/v/t39.30808-6/302153872_369945675341566_5120000728256398833_n.png?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=ii1dQs6fZ6YQ7kNvwE4rIwP&_nc_oc=AdmGErq7M3fNX2V5EFIZBcE8TZboSNLOlD-yYHLF50NuUKMkDXjNLx4ZRYIFYWArSes&_nc_zt=23&_nc_ht=scontent.fpoa10-1.fna&_nc_gid=o09fLlc1DwDhaJQlinoZrg&oh=00_AfLkpT0wagh8yURTvsNiBqodpARilPx-tucCZpSVObGPiQ&oe=682A44CE")
}
html {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: rgb(202, 202, 202);
}

section {
    max-height: 200vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.no-animation *{
    transition: none !important;
    background: white !important;
}

.mesa {
    background: var(--fundo-mesa);
    filter: saturate(0.8);
    max-width: 1690px;
    padding: 30px;
    margin: 0 auto;
    border: solid 4px rgb(116, 65, 65);
    border-radius: 2px;
}
.mesa .cartas-box{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.carta {
    perspective: 1000px;
    height: 200px;
    width: 150px;
    cursor: pointer;
}
.carta:hover{
    transform: scale(1.05);
}

.frente,.verso{
    border-radius: 10px;
    border: solid 1px black;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease-in-out 500ms;
}
.frente{
    background-image: var(--fundo-carta);
    background-position: center;
    background-size: cover;
    filter: brightness(0.5);
}
.verso{
    transform: rotateY(180deg);
}
.girar  .frente{
    transform: rotateY(180deg);
}
.girar .verso{
    transform: rotateY(0deg);
}
.removida{
    visibility: hidden;
    cursor: default;
}
.pontuacao{
    cursor: default;
    color: white;
    font-size: 3rem;
    position: fixed;
    width: 3rem;
    right: 10px;
    bottom: 3px;
}
.pontuacao .pontos{
    text-shadow: 2px 2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pontuacao .pontos:hover::after{
    content: "pontos";
    font-size: 20px;
    position: relative;
    bottom: -20px;
    left: -40px;
}
.pts-flutuante{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    color: blue;
    animation: subir;
    animation-duration: 2s;
}
#win{
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
}
.win{
    visibility: visible !important;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100% !important;
    height: 100% !important;
}
.fundo{
    position: absolute;
    height: 1000%;
    width: 1000%;
    top: 0;
    background: rgba(0, 0, 0, 0.527);
}
@keyframes subir{
    from{bottom: -80px;}
    to{bottom: 100px;}
}
    
